#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none     &none     &none           &none                         &none      &none  &none      &none      &none      &none
&none  &kp Q      &kp W     &kp E     &kp R           &kp T                         &kp Y      &kp U  &kp I      &kp O      &kp P      &none
&none  &kp A      &kp S     &kp D     &kp F           &kp G  &kp SPACE  &kp SPACE   &kp H      &kp J  &kp K      &kp L      &kp BSPC   &none
&none  &kp Z      &kp X     &kp C     &kp V           &kp B  &mo 3      &kp SPACE   &kp N      &kp M  &mkp LCLK  &mkp RCLK  &kp ENTER  &none
&none  &kp LCTRL  &kp LGUI  &kp LALT  &kp LEFT_SHIFT  &mo 2  &mo 1      &kp LSHIFT  &kp SPACE  &none  &none      &kp SPACE  &kp SPACE  &none
            >;
        };

        layer_1 {
            bindings = <
&none   &none                    &none           &none     &none            &none                       &none             &none              &none                 &none                  &none      &none
&trans  &kp ESCAPE               &trans          &kp UP    &trans           &kp INSERT                  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DEL    &trans
&trans  &kp LANG_ZENKAKUHANKAKU  &kp LEFT_ARROW  &trans    &kp RIGHT_ARROW  &trans      &none   &none   &trans            &kp SEMICOLON      &kp COLON             &kp MINUS              &kp AT     &trans
&trans  &kp TAB                  &trans          &kp DOWN  &trans           &trans      &trans  &trans  &kp EXCLAMATION   &kp QUESTION       &kp COMMA             &kp PERIOD             &kp SLASH  &trans
&trans  &kp CLCK                 &trans          &trans    &trans           &trans      &trans  &trans  &trans            &trans             &trans                &trans                 &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&none  &none   &none   &none   &none   &none                    &none         &none   &none   &none   &none       &none
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                   &kp ASTERISK  &kp N7  &kp N8  &kp N9  &kp PLUS    &none
&none  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &none   &none   &kp SLASH     &kp N4  &kp N5  &kp N6  &kp MINUS   &none
&none  &none   &none   &none   &none   &none    &trans  &trans  &kp N0        &kp N1  &kp N2  &kp N3  &kp PERIOD  &none
&none  &none   &none   &none   &trans  &trans   &trans  &trans  &trans        &none   &none   &none   &kp EQUAL   &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none   &none                   &none         &none          &none                                   &none         &none  &none
&none  &none  &none  &none  &none   &none                   &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2                            &bt BT_SEL 3  &none  &none
&none  &none  &none  &none  &none   &none   &none   &none   &kp K_BACK    &kp C_AC_HOME  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &none         &none  &none
&none  &none  &none  &none  &none   &none   &trans  &trans  &none         &none          &none                                   &none         &none  &none
&none  &none  &none  &none  &trans  &trans  &trans  &trans  &trans        &none          &none                                   &none         &none  &none
            >;
        };
    };
};
